{% extends 'blogs/base.html' %}
{% load my_tags %}
{% block content %}
<article class="blog-post">
  <h2 class="display-5 link-body-emphasis mb-1">{{ object.title }}</h2>
  <p class="blog-post-meta">Дата: {{ object.created_at }}</p>
  <p class="blog-post-meta">{% if not is_published %}Опубликована{% else %}Не опубликована{% endif %}</p>
  <img src="{{ article.preview | media_filter }}">
  <hr>
  <p>{{ object.content }}</p>
  <hr>
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <a class="btn btn-primary" href="{% url 'blogs:article_list' %}" role="button">Назад</a>
    </div>
  </div>
  <hr>
</article>
{% endblock %}