<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false">
        Выбери категорию продукта
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
    <li><a class="dropdown-item" href="{% url 'catalog:product_list' %}">Все</a></li>
    {% for category in categories %}
    <li><a class="dropdown-item" href="{% url 'catalog:product_category_list' category %}">{{ category }}</a></li>
    {% endfor %}
    </ul>
</div>